<%= stylesheet_link_tag    "style_fortunka" %>
<% @fortunes.each do |fortune| %>
<table>
  <tr>
    <th>Quotation</th>
    <th></th>
	<th>Source</th>
	<th></th>	
	<th></th>
	<th></th>
	<th></th>
  </tr>
  <tr>
    <td align="left"><%= fortune.quotation %></td> 
    <td>  ||  </td>
    <td align="center"><%= fortune.source %></td>
    <td>  ||  </td>
    <td align = "right"><%= link_to 'Show', fortune %></td>
    <td align = "right"><%= link_to 'Edit', edit_fortune_path(fortune) %></td>
    <td align = "right"><%= link_to 'Destroy', fortune, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
</table>
<br/>
<% end %>

<p><%= paginate @fortunes %></p>
<h3><%= link_to 'New Fortune', new_fortune_path %></h3>
