<p id="notice"><%= notice %></p>

<p>
  <b>Quotation:</b>
  <%= @fortune.quotation %>
</p>

<p>
  <b>Source:</b>
  <%= @fortune.source %>
</p>
<%= link_to 'Edit', edit_fortune_path(@fortune) %> |
<%= link_to 'Back', fortunes_path %>

<div>
<% if @fortune.comments.any? %>
  <h2>Comments</h2>
  <%= render :partial => 'comments/comment', :collection => @fortune.comments %>
<% end %>
</div>
<div>
<h2>Add new comment</h2>
<%= render :partial => 'comments/form' %>
</div>



