<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	  <title>Fortunka</title>
	  <%= stylesheet_link_tag    "application" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width,initial-scale=1">
	
	<%= stylesheet_link_tag    "style" %>
	<%= javascript_include_tag "modernizr-2.0.min" %>
	<%= javascript_include_tag "respond.min" %>
</head>
<body>
	<div id="header-container">
		<header class="wrapper">
			<h1 id="title">Fortunki</h1>
			<nav>
				<ul>
					<li><a href=".">Strona Główna</a></li>
					<li>
					<% if current_user %>
 					<b><li id="hello"> Welcome <%= current_user.name %>!</li></b>
  					<%= link_to "Sign Out", signout_path %>
					<% else %>
  					<%= link_to "Sign in with Twitter", "/auth/twitter" %>
					<% end %>
					</li>
				</ul>
			</nav>
		</header>
	</div>
	<div id="main" class="wrapper">
		<aside>
			<h3>Linki:</h3>
			Strona z layautem<h4><a href="http://www.initializr.com/">www.initializr.com</a></h4>
			Tworzenie patternów na tlo<h4><a href="http://www.colourlovers.com/">www.colourlovers.com</a></h4>
			Html BoilerPlate<h4><a href="http://html5boilerplate.com/">html5boilerplate.com</a></h4>
		</aside>
		<article>
			<header>
				
			</header>
			<h3>Listing Fortunes</h3>
			<p><%= yield %></p>
			<footer>
			</footer>
		</article>
	</div>
	<div id="footer-container">
		<footer class="wrapper">
			<h3>Autor:Damian Wieliczko</h3>
		</footer>
	</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')</script>

<!-- scripts concatenated and minified via ant build script-->
<%= javascript_include_tag "plugins" %>
<%= javascript_include_tag "scripts" %>
<!-- end scripts-->

<script>
	var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']]; // Change UA-XXXXX-X to be your site's ID
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

<!--[if lt IE 7 ]>
	<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
	<script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
<![endif]-->

</body>
</html>
